<style>
body { margin:0px; padding:0px;font-family: 'Open Sans', sans-serif; font-size:14px;}
.zf_bg { width:794px; height:552px; background:url(/static/images/certificate/zs_bg.jpg) no-repeat; z-index:99; margin:auto;position:fixed;left:0; right:0; top:0; bottom:0;}
.zf_date { float:right; width:180px; line-height:30px; font-size:14px; margin-top:100px; color:#7b7b7b; font-style:italic;font-family: 'Open Sans', sans-serif; clear:both; }
.gray_part  { margin-top:10px; background:#; height:240px; clear:both; margin-top:20px; float:left; width:100%;}
.text_style1 { font-size:18px; display:block; float:left; width:100%; clear:both; float:left; margin-left:60px; width:710px; color:#7f7e7f; }
.zf_name { color:#0e9eda; font-size:40px;font-family: 'Nunito', sans-serif;}
.zf_content { color:#0e9eda; font-size:25px;font-family: 'Nunito', sans-serif; font-style:italic;}
.zf_express { font-size:18px; margin-top:10px;}
.zf_lineheight { line-height:30px;}
.tab_main { clear:both;}
.tab { float:left; width:210px; height:133px; margin-left:24px; }
.zf_top { margin-top:10px;}
.qianming { background: url(/static/images/certificate/qianzi.png) no-repeat center;}
.pcg_logo { background:url(/static/images/certificate/pcg_logo_r.png) no-repeat center;}
.estimated { position:absolute; bottom:10px; right:0px; font-size:18px;} 
</style>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Nunito:700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="zf_bg"> 
<div class="zf_date">January 13, 2014</div>

<div class="gray_part">
<span class="text_style1 zf_lineheight zf_top">This is to certify that</span>
<span class="text_style1 zf_name">Kelly Sunday</span>
<span class="text_style1 zf_lineheight">Successfully completed</span>
<span class="text_style1 zf_content">ELA101x Balancing Informational &amp; Literary Texts (K-5)</span>
<span class="text_style1 zf_express">a course of study offered by <strong>WestEd</strong>, a partner in<strong> Pepper</strong>, an online learning initiative for<strong> Common Core Specialists</strong></span>
</div>
<div class="tab_main">
<div class="tab" style="position:relative; width:250px !important;"> <span class="estimated">Estimated Effort: 15 Hours</span></div><div class="tab qianming"></div>
<div class="tab pcg_logo"></div>
</div>
</div>
