<style>
body { margin:0px; padding:0px;font-family: 'Open Sans', sans-serif; font-size:14px;}
.zf_bg { width:794px; height:552px; background:url(/static/images/certificate/certificate_temp.jpg) no-repeat; z-index:99; margin:auto;position:fixed;left:0; right:0; top:0; bottom:0;}
</style>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Nunito:700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="zf_bg"> 

</div>
